---
import Layout from '../layouts/Layout.astro';
import Cabecera from '../components/Cabecera.astro';
import LiveProgram from '../components/ProgramaVivo.jsx';
---

<Layout title="Radio Star">
	<Cabecera title='Hola a Radio Star'/>
	<div class="relative h-screen transition-all duration-1000  mt-5 p-2">
		<LiveProgram client:load/>
	</div>
</Layout>

<style>
	
</style>
