---
interface Props {
	title: string;
	body: string;
	href: string;
	image : string;
}

const { image, href, title, body } = Astro.props;
---

<a href={href} 
   class="programs-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2
   rounded-lg hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-900 w-auto flex-col">
	<picture class="aspect-square w-full h-auto flex-none">
		<img src={image} alt={title} class="object-cover w-full h-full rounded-md"/>
	</picture>
	<div class="flex flex-auto flex-col items-start">
		<h4 class="text-white text-sm">
			{title}
		</h4>
		<span class="text-xs text-gray-400">Artista</span>
	</div>
</a>
